build/
build-logic/.gradle/
build-logic/build/
/.idea
/captures
/local.properties
/*.iml
/.gradle
/.DS_Store
/.externalNativeBuild
/.cxx
/build-logic/gradle/wrapper/dists/
/build-logic/gradle/.tmp/
/keystore.properties